<ng-container *ngIf="percorsi.length>0; else NoData">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="selectable">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nome percorso
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>
                Tipologia
            </th>
            <td mat-cell *matCellDef="let element">
                {{ getDescrizioneTipo(element.tipo) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
</ng-container>
<ng-template #NoData>
    <div class="no-data">Nessun percorso archiviato</div>
</ng-template>