<div class="white-box">
    <ng-container *ngIf="mailSent; else Recover">
        <div class="title">Richiesta di recupero password effettuata</div>
        <div class="separator"></div>
        <div class="sent-text">
            Ti abbiamo appena inviato una email all'indirizzo <strong>{{ email }}</strong>
            contenente un link per impostare una nuova password.<br />
        </div>
        <div class="sent-text">
            Dovresti ricevere questa email entro alcuni minuti.
            Se così non fosse, verifica tra le email di "Spam" / "Posta Indesiderata".
        </div>
        <div class="back-link">
            <a routerLink="/">Torna all'homepage</a>
        </div>
    </ng-container>
    <ng-template #Recover>
        <div class="title">Recupero password</div>
        <div class="text">
            Inserisci qui sotto il tuo indirizzo email,<br>ti invieremo subito le istruzioni da seguire.
        </div>
        <form *ngIf="formGroup" [formGroup]="formGroup">
            <mat-form-field appearance="outline" id="email">
                <mat-label>Email</mat-label>
                <input matInput type="email" [pattern]="emailPattern" formControlName="email" autocomplete="off" required>
                <mat-error *ngIf="checkControlError('email','accountInesistente')">{{errorInesistente}}</mat-error>
                <mat-error *ngIf="checkControlError('email','email')">{{errorValido}}</mat-error>
                <div class="errore-disabilitato" *ngIf="accountDisabilitato">{{errorDisabilitato}}</div>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-flat-button (click)="cancel()">Annulla</button>
            <button mat-flat-button (click)="submit()" color="primary">Invia</button>
        </div>
    </ng-template>
</div>