@import '../../../styles/colors.scss';

.white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    padding: 20px 40px;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
}

.text {
    margin-bottom: 30px;
}

.back-link {
    margin-top: 20px;
    font-size: 20px;
}

mat-form-field {
    width: 300px;

    input {
        width: 100%;
    }
}

.buttons {
    display: flex;
    gap: 50px;

    button {
        width: 120px;
    }
}