<ng-container *ngIf="percorsi.length>0; else NoData">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort [class.selectable]="selectable">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nome percorso
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="numeroUtenti">
            <th mat-header-cell *matHeaderCellDef>
                N. Utenti
            </th>
            <td mat-cell *matCellDef="let element">{{ element.numeroUtenti }}</td>
        </ng-container>

        <ng-container matColumnDef="numeroOperatori">
            <th mat-header-cell *matHeaderCellDef>
                N. Operatori
            </th>
            <td mat-cell *matCellDef="let element">{{ element.numeroOperatori }}</td>
        </ng-container>

        <ng-container matColumnDef="agenda">
            <th mat-header-cell *matHeaderCellDef>
                Agenda
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.inizioPercorsoEffettivo | date:'dd/MM/yyyy' }} -
                {{ element.finePercorso | date:'dd/MM/yyyy' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quartiere">
            <th mat-header-cell *matHeaderCellDef>
                Quartiere
            </th>
            <td mat-cell *matCellDef="let element">
                {{ getLabelQuartiere(element.quartiere) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="stato">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Stato
            </th>
            <td mat-cell *matCellDef="let element">{{ element.stato.replace('_',' ') }}</td>
        </ng-container>

        <ng-container matColumnDef="archivia">
            <th mat-header-cell *matHeaderCellDef>
                &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="canArchive(element)">
                    <a class="archive" (click)="archive(element)">archivia</a>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
</ng-container>
<ng-template #NoData>
    <div class="no-data">Nessun percorso
        <span *ngIf="tipo=='GRUPPO'">di gruppo</span>
        <span *ngIf="tipo=='SINGOLO'">individuale</span>
    </div>
</ng-template>