@import '../../../../styles/colors.scss';

.no-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    color: $blu;

    img {
        width: 100px;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 20px;
    }
}