@import '../../../styles/colors.scss';

:host {
    position: relative;
    width: 100%;
}

.back-button {
    position: absolute;
    color: $blu;
    left: -28px;
    top: -7px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: $blu-scuro;
    margin-bottom: 10px;

    .title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        flex: auto;
        padding-left: 20px;
    }

    .subtitle {
        font-weight: bold;
    }
}

.content-box {
    line-height: 2;
    font-size: 20px;
    margin-bottom: 20px;
}

.loading-percorso {
    margin-top: 46px;
}

table td {
    &.key {
        font-weight: bold;
    }

    &.val {
        padding-left: 20px;
    }
}