<div class="header">
    <div class="title">Materiali</div>
</div>
<div class="white-box content-box materiali">
    <a class="row" href="/assets/materiali/Il mondo degli Elli - Manuale operativo.pdf" target="_blank">
        <div>Manuale operativo il Mondo degli Elli</div>
        <div class="link">visualizza</div>
    </a>
    <a class="row" href="/assets/materiali/Il mondo degli Elli - Attivita complementari.pdf" target="_blank">
        <div>Attività complementari di Potenziamento, Ponte con la didattica e attività Ludiche</div>
        <div class="link">visualizza</div>
    </a>
    <a class="row" href="/assets/materiali/Il mondo degli Elli - Soluzioni di Trova.pdf" target="_blank">
        <div>Soluzioni attività Trova immagine e Trova le differenze</div>
        <div class="link">visualizza</div>
    </a>
    <a class="row" href="https://docs.google.com/presentation/d/1Nb2KgyqQRjjsNOZDVG4uEUBij4gfyNybnXzICiEscHc/edit?usp=sharing" target="_blank">
        <div>Attività Guarda bene!</div>
        <div class="link">visualizza</div>
    </a>
</div>