<div class="white-box imposta-password">
    <div class="intro">
        Impostazione di una nuova password per l'accesso per <i>{{ username }}</i>
    </div>
    <form *ngIf="formGroup" [formGroup]="formGroup">
        <mat-form-field appearance="outline" id="password">
            <mat-label>Nuova password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password" autocomplete="new-password" required>
            <mat-icon (click)="hide1=!hide1">visibility{{ hide1 ? '':'_off' }}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" id="checkpwd">
            <mat-label>Ripeti password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="checkpwd" autocomplete="new-password" required>
            <mat-icon (click)="hide2=!hide2">visibility{{ hide2 ? '':'_off' }}</mat-icon>
        </mat-form-field>
        <div class="errors" *ngIf="!formGroup.valid">
            <mat-error *ngIf="checkControlError('password','tooShort')">{{errorTooShort}}</mat-error>
            <mat-error *ngIf="checkControlError('password','invalidChars')">{{errorInvalidChars}}</mat-error>
            <mat-error *ngIf="checkControlError('password','missingUppercase')">{{errorMissingUppercase}}</mat-error>
            <mat-error *ngIf="checkControlError('password','missingLowercase')">{{errorMissingLowercase}}</mat-error>
            <mat-error *ngIf="checkControlError('password','missingNumbers')">{{errorMissingNumbers}}</mat-error>
            <mat-error *ngIf="checkControlError('password','missingSymbols')">{{errorMissingSymbols}}</mat-error>
            <mat-error *ngIf="checkControlError('password','samePassword')">{{errorSamePassword}}</mat-error>
            <mat-error *ngIf="checkFormError('differentPassword') ">{{errorDifferentPassword}}</mat-error>
        </div>
    </form>
    <button mat-flat-button color="primary" (click)="submit()">Aggiorna</button>
    <div class="box-text">
        Ecco i consigli per la scelta di una password sicura:
        <ul>
            <li>deve essere almeno di <strong>8 caratteri</strong></li>
            <li>deve contenere almeno una lettera <strong>maiuscola</strong></li>
            <li>deve contenere almeno una lettera <strong>minuscola</strong></li>
            <li>deve contenere almeno un <strong>numero</strong></li>
            <!--
            <li>deve contenere almeno un <strong>simbolo</strong> tra questi:<br>
                <div class="symbols"><strong>- + _ ! @ # $ % ^ & * . , ?</strong></div>
            </li>
            -->
            <li>non deve essere uguale alla password <strong>precedente</strong></li>
        </ul>
    </div>
</div>