@import '../../../styles/colors.scss';

:host {
    display: flex;
    justify-content: center;
}

.imposta-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 300px;

        input {
            width: 100%;
        }

        mat-icon {
            position: absolute;
            right: 0;
        }
    }

    .errors {
        margin-bottom: 20px;
    }
}

.box-text {
    margin: 30px;
}