@import '../../styles/colors.scss';

:host {
    display: flex;
    flex-direction: column;
}

.title {
    color: $blu-scuro;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 10px;
}

.assistenza {
    font-size: 20px;

    mat-form-field {
        width: 100%;
    }

    .invia {
        display: flex;
        justify-content: flex-end;
    }
}